{% extends "base.html" %}
{% block content %}

<script>
function loading() {
    document.getElementById('loading').style.visibility = 'visible';
    // document.getElementById("loading").style.visibility = "visible";
    $.post('/sleep', {

    }).done(function(response) {
        document.getElementById('result').style.visibility = 'visible';
        document.getElementById('loading').innerHTML = response;
    }).fail(function() {
        console.log('fail');
    });
}
</script>



<div class="wrapper">
          <button id="play" onclick="loading()">Play Ride</button>
      </div>
<div id="loading" style="visibility: hidden">
    Loading!
</div>
<div id="result" style="visibility: hidden"></div>
{% endblock %}