{% extends "base.html" %}
{% block content %}
<style>
a { cursor: pointer; }
</style>

<div>
<div class='span2 main'></div>
<div class='span9 main'>
<h3 style="color: white;">Current Athletes</h3>
<table>
	<thead>
		<th>Athlete</th>
		<th>Location</th>
		<th></th>
	</thead>
{% for athlete in athletes %}
<tr>
	<td>{{athlete[1] + ' ' + athlete[2]}}</td>
	<td>{{athlete[3] + ', ' + athlete[4]}}</td>
  <td><a id="{{athlete[0]}}" href="/compare/{{activity_id}}/{{this_athlete}}/{{athlete[0]}}">View my rides</a></td>
</tr>
{% endfor %}
</table>

</div>
<script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          sortable: true,
          condensed: true,
          clean: true
        });
      });
    </script>
{% endblock %}