{% extends "base.html" %}
{% block content %}

    <style>
      #map-canvas {text-align: center;}
    </style>
    <link href="/static/css/rides.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>

<script>
var line;
ride_js = {{ride_js|safe}}
other_ride_js = {{other_ride_js|safe}}
function initialize() {
  setMap(ride_js)
  lineChart(ride_js, other_ride_js)
}

function setMap(a) {

  var mapOptions = {
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var coords = [];

  for (var i = 0; i < a.latitude.length; i++) {
    coords.push(new google.maps.LatLng(a.latitude[i], a.longitude[i]));
  }

  var lineSymbol = {
    path: google.maps.SymbolPath.CIRCLE,
    scale: 8,
    strokeColor: '#000'
  };

  var lineSymbolA = {
    path: google.maps.SymbolPath.CIRCLE,
    scale: 8,
    strokeColor: '#393'
  };

var mapIcons;

  mapIcons = [{
    icon: lineSymbol,
    offset: '0%'
  },
  {
      icon: lineSymbolA,
      offset: '0%'
    }]


  line = new google.maps.Polyline({
    path: coords,
    strokeColor: '#1da1cc',
    icons: mapIcons,
    map: map
  });

  var sw = new google.maps.LatLng(a['center'][0][0], a['center'][0][1])
  var ne = new google.maps.LatLng(a['center'][1][0], a['center'][1][1])
  var bounds = new google.maps.LatLngBounds(sw, ne)
  map.fitBounds(bounds);

}

google.load('visualization', '1.0', {'packages':['corechart']});

function zip(arrays) {
    return arrays[0].map(function(_,i){
        return arrays.map(function(array){return array[i]})
    });
}
function addCrosshair(x, y, color) {
    chart.xAxis[0].addPlotLine({
        id: 'xPlotLine'+x,
        value: x,
      width: 2,
      color: color
    });
    
    // chart.yAxis[0].addPlotLine({
    //     id: 'yPlotLine'+y,
    //     value: y,
    //   width: 2,
    //   color: color
    // });
}

function removeCrosshair(x,y) {
    chart.xAxis[0].removePlotLine('xPlotLine'+x);
    chart.yAxis[0].removePlotLine('yPlotLine'+y);
}
function lineChart(a1, a2) {
    
    debugger;
    data = zip([a2.plot_predicted_distance, a2.plot_predicted_altitude]);
    if (a1.plot_predicted_distance.length > a2.plot_predicted_distance.length) {
      data1 = zip([a2.plot_predicted_distance, a2.distance_diff]);
    }
    else {
      data1 = zip([a1.plot_predicted_distance, a2.distance_diff]);
    }
    

    var ymin = Math.min.apply(null, a1.plot_predicted_altitude)
    var ymax = Math.max.apply(null, a1.plot_predicted_altitude)
    var xmin = Math.min.apply(null, a1.plot_predicted_distance)
    var xmax = Math.max.apply(null, a1.plot_predicted_distance)
    var series = [{     
        type: 'area',
        name: 'Altitude',
        yAxis: 0,
        tooltip: {
          pointFormatter: function(){
            return '<b>'+ this.series.name +'</b>: '+ Highcharts.numberFormat(this.y, 0, ".", ",") +'<br/>';
          }
        },
        fillOpacity: 0.5,
        data: data,
        lineWidth: 2
      },
      {     
        type: 'spline',
        name: 'Altitude',
        yAxis: 1,
        data: data1,
        lineWidth: 2
      }]


    console.log(series)
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container'
            },
            tooltip: {
              shared: true
            },
            xAxis: {
              min: xmin,
              max: xmax,
                title: {
                    enabled: true,
                    text: 'Distance (mi)'
                },
                ordinal: false
            },
            yAxis: [{
                min: ymin,
                max: ymax,
                title: {
                    text: 'Altitude (ft)'
                }
            },
            {
                title: {
                    text: 'Distance Difference (mi)'
                },
                opposite: true
            }],
            title: {
                text: 'Ride profile'
            },
            plotOptions: {
                    series: {
                        compare: 'percent'
                    }
                },
            series: series
        });
};
function simRide(a1, a2, startIndex) {
    var count = startIndex;
    if (a1['type'] == 'route'){
      d1 = a1['plot_predicted_distance'];
    }
    else {
      d1 = a1['plot_distance'];
    }
    
    d2 = a2['plot_predicted_distance'];

    var duration = moment.duration(0, 'seconds');

    simInterval = window.setInterval(function() {
      var isDone = false


      offset1 = d1[Math.min(count, d1.length -1)]*100.0/a1.total_distance
      offset2 = d2[Math.min(count, d2.length -1)]*100.0/a2.total_distance

      if ((count > d1.length) & (count > d2.length)) {
        isDone = true;
      }


      if (isDone) {
        console.log('cleared')
        clearInterval(simInterval)
      }
      else {

        var icons = line.get('icons');
        
        icons[0].offset = offset1 + '%';
        
        line.set('icons', icons);
        icons[1].offset = offset2 + '%';
        duration = moment.duration(a1.plot_time[count]*1000, 'seconds');
        // var p1 = chart.series[0].points[count];
        // var p2 = chart.series[1].points[count];
        addCrosshair(d1[count], a1.plot_altitude[count], '#000')
        addCrosshair(d2[count], a2.plot_predicted_altitude[count], '#390')

        // debugger;
        // chart.tooltip.refresh(p1);
        // chart.tooltip.refresh(p2);
        if (count != 0){
          removeCrosshair(d1[count -10], a1.plot_altitude[count-10])
          removeCrosshair(d2[count -10], a2.plot_predicted_altitude[count-10])
        }
        
      }
      count = count + 10;
  }, 50);
}

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <div class="row">
    <div class='span6 main' style="margin-left: 52px;">

      <table>
        <thead><th colspan="2">Ride Summary</th></thead>
        <tr><td>Rider:</td><td><a href="/rides/{{the_other_athlete.userid}}">{{the_other_athlete.name}}</a></td></tr>
        <tr><td>Compared to:</td><td><a href="/rides/{{the_athlete.userid}}">{{the_athlete.name}}</a></td></tr>
        <tr><td>Ride:</td><td>{{ride.name}}</td></tr>
        <tr><td>Date:</td><td>{{ride.dt.strftime("%A %B %d, %Y")}}</td></tr>
        {% if ride.is_route %}
          <tr><td>{{ the_athlete.firstname }}'s Predicted Time:</td><td>{{ride.predicted_moving_time}}</td></tr>
        {% else %}
          <tr><td>{{ the_athlete.firstname }}'s Time:</td><td>{{ride.moving_time_string}}</td></tr>
        {% endif %}
        <tr><td>Your Predicted Time:</td><td><span id="activity_pred_time">{{other_ride.predicted_moving_time}}</span></td></tr>
      </table>

      <div class="wrapper">
          <button id="play" onclick="simRide(ride_js, other_ride_js, 0)">Play Ride</button>
      </div>
      <div class="map" id="map-canvas" style="width:500px;height:380px;"></div>
      <div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
    </div>
      <div class='span2 main'></div>
</div>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          sortable: true,
          condensed: true,
          clean: true
        });
      });
    </script>
  <!-- </body> -->


{% endblock %}