{% extends "base.html" %}
{% block content %}


<div id="container" style="height: 400px; min-width: 310px"></div>
<script>
var chart = new Highcharts.Chart({

    chart: {
        renderTo: 'container'
    },

    xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    },

    series: [{
        id: 'dataseries',
        data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
    }, {
        type: 'flags',
        data: [{
            x: 9.5,
            title: 'I',
            text: 'Information'
        }],
        onSeries: 'dataseries',
        shape: 'circlepin',
        width: 16,
        showInLegend: false
    }]

});

$("#a").click(function () {
    chart.addSeries({
        type: 'flags',
        data: [{
            x: 2,
            title: 'I2',
            text: 'Information v2'
        }],
        onSeries: 'dataseries',
        shape: 'circlepin',
        width: 16,
        showInLegend: false
    }, false);
    // do some stuff
    
    chart.redraw();
    
});
$("#b").click(function () {
    chart.series[1].setData([{
            x: 6,
            title: 'I6',
            text: 'Information v3'
    },{
            x: 11,
            title: 'I11',
            text: 'Information v4'
    }], false);
    // do some stuff
    
    chart.redraw();
    
});
</script>
{% endblock %}