{% extends "base.html" %}
{% block content %}
<style>
html { 
  background: url(/static/img/scenic_bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a { cursor: pointer; }
</style>
<!-- <body background="/static/img/cycle_bg.jpg"> -->
<script>
function addAthlete(){
	document.getElementById("add-athlete").style.visibility = "visible";
}

function getData(uid){
    console.log(uid)
  document.getElementById("new-user-status").innerHTML = "We're loading your data right now. This will take a moment";
  document.getElementById("new-user-status").style.visibility = "visible";
  $.post('/get-data', {
    userid: uid
  }).done(function(response){
    document.getElementById("new-user-status").innerHTML = "We loaded your activities for you!"
    trainModel(uid);
  }).fail(function(){
      document.getElementById('new-user-status').innerHTML = 'Something went wrong! Ugh.';
      console.log('fail')
  });
}

function trainModel(uid){
  document.getElementById("new-user-status").innerHTML = "We've got your data. Now we're customizing a model just for you. This may take a minute!";
  document.getElementById("new-user-status").style.visibility = "visible";
  $.post('/fit', {
    userid: uid
  }).done(function(response){
    document.getElementById("new-user-status").innerHTML = "Model complete!"
    window.location.href = "/rides/" + uid
  }).fail(function(){
      document.getElementById('new-user-status').innerHTML = 'Something went wrong! Ugh.';
      console.log('fail')
  });
}

function checkUser(uid) {
  console.log(uid)
    $.post('/check', {
      userid: uid
    }).done(function(response) {
        console.log(response)
        if (response === "new") {
          // show new user stuff
          document.getElementById("new-user").innerHTML = "You're new here. Welcome to the site! We need to do a few things to get you started.";
          document.getElementById("new-user").style.visibility = "visible";
          getData(uid);
        }
        else if (response === 'predict'){
          document.getElementById("new-user-status").innerHTML = "We've got your data, but we need to train a model on it!"
          document.getElementById("new-user").style.visibility = "visible";
          trainModel(uid);
        }
        else {
          window.location.href = "/rides/" + uid
        }
    }).fail(function() {
      document.getElementById('new-user').innerHTML = 'Something went wrong! Ugh.';
        console.log('fail');
    });
}
</script>

<div>
<div class='span2 main'></div>
<div class='span9 main'>
<div style="color: white; text-align: center" class="row">
  <h1>Cyclitics</h1>
  <strong id="text-rotating">Find out where you stand. Any course. Any time.</strong>
</div>
<h3 style="color: white;">Current Athletes</h3>
<table>
	<thead>
		<th>Athlete</th>
		<th>Location</th>
		<th></th>
	</thead>
{% for athlete in athletes %}
<tr>
	<td>{{athlete[1] + ' ' + athlete[2]}}</td>
	<td>{{athlete[3] + ', ' + athlete[4]}}</td>
  <td><a id="rides{{athlete[0]}}" onclick="checkUser({{athlete[0]}})">View my rides</a></td>
</tr>
{% endfor %}
</table>

<div id="new-user" style="visibility: hidden; margin-left=10px;color: white;"></div>
</br>
<div id="new-user-status" style="visibility: hidden; margin-left=10px;color: white;"></div>
</br>
<strong style="color: white;">Don't see yourself?</strong><br>
<a href="https://www.strava.com/oauth/authorize?client_id=4554&response_type=code&redirect_uri=http://hendris.pythonanywhere.com/token_exchange&approval_prompt=force">
<img src="static/img/ConnectWithStrava.png">
</a>
</div>
</div>
</div>
<script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          sortable: true,
          condensed: true,
          clean: true
        });
        var idx = 0;
        rotate = window.setInterval(function(){
          var texts = ["Use the personalized ghost to set your pace",
                       "Compare yourself to your friends on any course",
                       "Get the most accurate predictions for your rides, before you do them",
                       "Evaluate yourself with the most advanced performance metric available"]
          document.getElementById("text-rotating").innerHTML = texts[idx];
          idx++;
          if (idx > texts.length - 1) {idx = 0;}

        }, 5000)
      });
    </script>
{% endblock %}