{% extends "base.html" %}
{% block content %}

<script>
function addAthlete(){
	document.getElementById("add-athlete").style.visibility = "visible";
}
</script>

<h3>Current Athletes</h3>
<table>
	<thead>
		<th>Athlete</th>
		<th>Location</th>
		<th></th>
	</thead>
{% for athlete in athletes %}
<tr>
	<td>{{athlete['firstname'] + ' ' + athlete['lastname']}}</td>
	<td>{{athlete['city'] + ', ' + athlete['state']}}</td>
	<td><a href="{{url_for('rides')}}">View my rides</a></td>
</tr>
{% endfor %}
</table>


<a href="https://www.strava.com/oauth/authorize?client_id=4554&response_type=code&redirect_uri=http://hendris.pythonanywhere.com/token_exchange&approval_prompt=force">
<img src="static/img/ConnectWithStrava.png">
</a>
</div>
<script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          sortable: true,
          condensed: true,
          clean: true
        });
      });
    </script>
{% endblock %}