
<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCWZvi3idv81oP0Wsedvxc-7xnpTyHeFc">
    </script>
    <iframe src="//ridewithgps.com/routes/{{display_route}}/embed" height="500px" width="100%" frameborder="0"></iframe>

  </head>
  <form action="/" method="POST" class="form-inline">
    <b>Season:</b>
    <select name="routes" width="300px" onchange="this.form.submit()">
<!--       <option value="a">a</option>
      <option value="b">b</option> -->
    {% for route in routes %}
        {% if route == display_route %}
            <option selected value="{{ route }}">{{ route }}</option>
        {% else %}
            <option value="{{ route }}">{{ route }}</option>
        {% endif %}
    {% endfor %}
    </select>
    </form>
    <b>{{route}}</b>
  <body>
<div id="map-canvas"></div>
  </body>
</html>