{% extends "base.html" %}
{% block content %}
    <style>
      #map-canvas {text-align: center;}
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>
// This example adds an animated symbol to a polyline.
var line;

function initialize() {
  getActivity('{{activity.id}}', '#activity{{ activity.id }}');
}

function setMap(a) {
  var distance_vec = a['distance'];
  var time_vec = a['time'];
  var predicted_time_vec = a['predicted_time'];
  var total_distance = distance_vec[distance_vec.length - 1];
  var points = a['latlng'];
  console.log(a['center']);
  
  var mapOptions = {
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var coords = [];
  
  for (var i = 0; i < points.length; i++) {
    coords.push(new google.maps.LatLng(points[i][0], points[i][1]));
  }

  var lineSymbol = {
    path: google.maps.SymbolPath.CIRCLE,
    scale: 8,
    strokeColor: '#888'
  };
  
  var lineSymbolA = {
    path: google.maps.SymbolPath.CIRCLE,
    scale: 8,
    strokeColor: '#393'
  };

  line = new google.maps.Polyline({
    path: coords,
    icons: [{
      icon: lineSymbol,
      offset: '100%'
    },
    {
      icon: lineSymbolA,
      offset: '100%'
    }],
    map: map
  });

  var sw = new google.maps.LatLng(a['center'][0][0], a['center'][0][1])
  var ne = new google.maps.LatLng(a['center'][1][0], a['center'][1][1])
  var bounds = new google.maps.LatLngBounds(sw, ne)
  map.fitBounds(bounds);
      
}

google.load('visualization', '1.0', {'packages':['corechart']});
// google.setOnLoadCallback(lineChart);

function lineChart(a) {
  
  lineData = new google.visualization.DataTable();
  lineData.addColumn('number', 'Distance');
  lineData.addColumn({type: 'string', role:'annotation'});
  lineData.addColumn('number', 'Altitude');
  lineData.addColumn('number', 'Time');
  lineData.addColumn('number', 'Predicted Time');
  console.log(a['distance'].length)
  for (var i = 0; i <= a['distance'].length; i++) {
    lineData.addRow([a['distance'][i], 
                    null,
                    a['altitude'][i],
                    a['time'][i],
                    a['predicted_time'][i]])
  }
  lineData.addRow([null, null, null, null, null]);
  annotationRowIndex = lineData.getNumberOfRows() - 1;
  chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

  var options = {
    annotation: {1: {style: 'line'}},
    title: 'Ride profile',
    curveType: 'function',
    legend: { position: 'bottom' },
    vAxes:{0:{logScale: false},1:{logScale: false}},
    series:{
       0:{targetAxisIndex:0},
       // 1:{targetAxisIndex:0},
       1:{targetAxisIndex:1},
       2:{targetAxisIndex:1}}
       // 4:{targetAxisIndex:1}}
  };
  // var options = {
  //   annotation: {1: {style: 'line'}}
  // };

  
  chart.draw(lineData, options);
  
}
function moveAnnot(pos){
  if(typeof pos === "undefined") {
        var xVal = a['distance'][0]
        lineData.setValue(annotationRowIndex, 0, xVal);
        lineData.setValue(annotationRowIndex, 1, xVal.toFixed(2));
    }
  else {
    var xVal = pos
    lineData.setValue(annotationRowIndex, 0, xVal);
    lineData.setValue(annotationRowIndex, 1, xVal.toFixed(2));
  }
  
  chart.draw(lineData, {});
    
}

 function draw_marker() {
     dc.fillStyle = "rgba(255, 0, 0, 0.5)";
     var left = my_graph.toDomCoords(current_time, 0)[0] - 2;
     var right = my_graph.toDomCoords(current_time + 2, 0)[0] + 2;
     dc.fillRect(left, my_area.y, right - left, my_area.h);
 };
  // var chart = new google.visualization.ScatterChart(document.getElementById('curve_chart'));
// function simRide(a) {
//   console.log(a)
//   for (var i = 0; i < a['distance'].length; i++) {
//       var t = a['time'][i];
//       var d = a['distance'][i];
//       var pt = a['predicted_distance'][i];
//       var total_distance = a['distance'][a['distance'].length - 1];
//       var alt = a['altitude'][i];
//       setInterval(function(){
//         var icons = line.get('icons');
//         icons[0].offset = dist*100.0/total_distance + '%';
//         line.set('icons', icons);
//        }, 3000);

//       (function(time, ptime, dist, altitude){
//         setTimeout(function() { 
//             var icons = line.get('icons');
//             icons[0].offset = dist*100.0/total_distance + '%';
//             line.set('icons', icons);
//             moveAnnot(dist);
//           }, time*3);
//         setTimeout(function() {
//             var icons = line.get('icons');
//             icons[1].offset = dist*100.0/total_distance + '%';
//             line.set('icons', icons);
//           }, ptime*3);
//      }(t, pt, d, alt));
//   }
// }
function simRide(a) {
    var count = 0;
    d = a['distance_interp'];
    pd = a['predicted_distance'];
    total_distance = d[d.length - 1];

    var myInterval = window.setInterval(function() {
      count = count + 1;
      if (count >= d.length) {
        clearInterval(myInterval)
      }
      // console.log(count)
      
      var icons = line.get('icons');
      console.log(d[count]/total_distance)
      icons[0].offset = d[count]*100.0/total_distance + '%';
      icons[1].offset = pd[count]*100.0/total_distance + '%';
      line.set('icons', icons);
      // moveAnnot(d[count])
  }, 20);
}
function getActivity(aid, activityElement) {
        console.log(aid)
        $.post('/change', {
            id: aid
        }).done(function(response) {
            activity = response
            console.log(response['name'])
            $(document.getElementById('activity_desc')).text(response['name']);
            $(document.getElementById('activity_date')).text(response['date']);
            $(document.getElementById('activity_start')).text(response['start_time']);
            $(document.getElementById('activity_moving_time')).text(response['moving_time']);
            $(document.getElementById('activity_pred_time')).text(response['predicted_total_time']);
            setMap(response)
            lineChart(response)
            // scatterChart([response['distance'][45], response['distance'][45]])
        }).fail(function() {
            console.log('fail');
        });
    }


      google.maps.event.addDomListener(window, 'load', initialize);

    
    </script>
    <style type="text/css">
      .map { margin: 0 auto 0 auto; }
      .wrapper {text-align: center;
                padding: 5px 5px 5px 5px;
               }
    </style>
    <div class="row">
    <div class='span6 main' style="margin-left: 52px;">
      
      <table>
        <thead><th colspan="2">Ride Summary</th></thead>
        <tr><td>Ride:</td><td><span id="activity_desc"></span></td></tr>
        <tr><td>Date:</td><td><span id="activity_date"></span></td></tr>
        <tr><td>Start Time:</td><td><span id="activity_start"></span></td></tr>
        <tr><td>Total Time:</td><td><span id="activity_moving_time"></span></td></tr>
        <tr><td>Predicted Time:</td><td><span id="activity_pred_time"></span></td></tr>
      </table>
      <div class="wrapper">
          <button id="play" onclick="simRide(activity)">Play Ride</button>
      </div>
      
      <div class="map" id="map-canvas" style="width:500px;height:380px;"></div>
      <div id="curve_chart" ></div>
    </div>
      <div class='span2 main'></div>
      <div class='span6 main'>
      <table align="right">
        <thead>
          <th>Ride Name</th>
          <th>Date</th>
          <th>Distance</th>
          <th>Start</th>
        </thead>
      {% for a in activities %}
      <tr>
        <td><a href="javascript:getActivity({{a.id}}, '#activity{{ activity.id }}');">{{a.name}}</a></td>
        <td>{{a.dt.strftime("%B %d, %Y")}}</td>
        <td>{{(a.total_distance / 1609.34)|round(0, 'floor')}}</td>
        <td>{{a.dt.strftime("%I:%M:%S %p")}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          sortable: true,
          condensed: true,
          clean: true
        });
      });
    </script>
  <!-- </body> -->


{% endblock %}