{% extends "base.html" %}
{% block content %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>
// This example adds an animated symbol to a polyline.
var line;


function initialize() {
  translate('{{activity.id}}', '#activity{{ activity.id }}');
  
  // setMap(points);
}


function setMap(a) {
  var distance_vec = a['distance'];
  var time_vec = a['time'];
  var predicted_time_vec = a['predicted_time'];
  var total_distance = distance_vec[distance_vec.length - 1];
  var points = a['latlng'];
  var mapOptions = {
    center: new google.maps.LatLng(points[0][0], points[0][1]),
    zoom: 11,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var coords = [];
  
  for (var i = 0; i < points.length; i++) {
    // console.log(i);
    coords.push(new google.maps.LatLng(points[i][0], points[i][1]));
  }

  var lineSymbol = {
    path: google.maps.SymbolPath.CIRCLE,
    scale: 8,
    strokeColor: '#888'
  };
  var lineSymbolA = {
    path: google.maps.SymbolPath.CIRCLE,
    scale: 8,
    strokeColor: '#393'
  };
  console.log('set the markers')
  line = new google.maps.Polyline({
    path: coords,
    icons: [{
      icon: lineSymbol,
      offset: '100%'
    },
    {
      icon: lineSymbolA,
      offset: '100%'
    }],
    map: map
  });
  var legend = document.getElementById('legend');
        for (var key in icons) {
          var type = icons[key];
          var name = type.name;
          var icon = type.icon;
          var div = document.createElement('div');
          div.innerHTML = '<img src="' + icon + '"> ' + name;
          legend.appendChild(div);
        }
}
function simRide(a) {
  console.log(a)
  for (var i = 0; i < a['distance'].length; i++) {
      var t = a['time'][i];
      var d = a['distance'][i];
      var pt = a['predicted_time'][i];
      var total_distance = a['distance'][a['distance'].length - 1];
      console.log(total_distance);

      (function(time, ptime, dist){
        console.log('asdf')
        console.log(time)
        setTimeout(function() { 
            var icons = line.get('icons');
            icons[0].offset = dist*100.0/total_distance + '%';
            line.set('icons', icons);
          }, time*3);
        setTimeout(function() { 
            var icons = line.get('icons');
            icons[1].offset = dist*100.0/total_distance + '%';
            line.set('icons', icons);
          }, ptime*3);
     }(t, pt, d));
  }
}

function translate(aid, activityElement) {
        console.log(aid)
        $.post('/change', {
            id: aid
        }).done(function(response) {
            activity = response
            console.log(response['name'])
            $(activityElement).text(response['name']);
            setMap(response)
            // $(textid).show();
        }).fail(function() {
            console.log('fail');
        });
        console.log('theothertext')
    }


google.maps.event.addDomListener(window, 'load', initialize);

    
    </script>
    <div><button id="loop" onclick="simRide(activity)">Play Ride</button>
    </div>
    <div><span id="translation{{activity.id}}"><a href="javascript:translate('asdff', '#activity{{ activity.id }}');">Translate</a></span></div>
    <p><strong><span id="activity{{ activity.id }}">{{activity.name}}</span></strong></p>

    <div class='span5 main' id="map-canvas" style="width:500px;height:380px;"><div id="legend"><h3>Legend</h3></div></div>
    
<!--       <div class='span5 main'>
        Some text
      </div> -->
      <div class='span5 main'>
      <table align="right">
        <thead>
          <td>Ride Name</td>
          <td>Date</td>
        </thead>
      {% for a in activities %}
      <tr>
        <td><a href="javascript:translate({{a.id}}, '#activity{{ activity.id }}');">{{a.name}}</a></td>
        <td>{{a.date}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          sortable: true,
          condensed: true,
          clean: true
        });
      });
    </script>
  <!-- </body> -->


{% endblock %}