{% extends "base.html" %}
{% block content %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>
// This example adds an animated symbol to a polyline.
var line;

function initialize() {
  getActivity('{{activity.id}}', '#activity{{ activity.id }}');
  
  // setMap(points);
}


function setMap(a) {
  var distance_vec = a['distance'];
  var time_vec = a['time'];
  var predicted_time_vec = a['predicted_time'];
  var total_distance = distance_vec[distance_vec.length - 1];
  var points = a['latlng'];
  var mapOptions = {
    center: new google.maps.LatLng(points[0][0], points[0][1]),
    zoom: 11,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var coords = [];
  
  for (var i = 0; i < points.length; i++) {
    // console.log(i);
    coords.push(new google.maps.LatLng(points[i][0], points[i][1]));
  }

  var lineSymbol = {
    path: google.maps.SymbolPath.CIRCLE,
    scale: 8,
    strokeColor: '#888'
  };
  
  var lineSymbolA = {
    path: google.maps.SymbolPath.CIRCLE,
    scale: 8,
    strokeColor: '#393'
  };
  console.log('set the markers')
  line = new google.maps.Polyline({
    path: coords,
    icons: [{
      icon: lineSymbol,
      offset: '100%'
    },
    {
      icon: lineSymbolA,
      offset: '100%'
    }],
    map: map
  });
  
      
}

google.load('visualization', '1.0', {'packages':['corechart']});
google.setOnLoadCallback(drawChart);

function drawChart(a) {
  var data_array = [['Distance', 'Altitude']]
  for (var i = 0; i <= a['distance'].length; i++) {
    data_array.push([a['distance'][i], a['altitude'][i]])
  }
  console.log(data_array)
  var data = google.visualization.arrayToDataTable(data_array);

  var options = {
    title: 'Company Performance',
    curveType: 'function',
    legend: { position: 'bottom' }
  };

  var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

  chart.draw(data, options);
}
function simRide(a) {
  console.log(a)
  for (var i = 0; i < a['distance'].length; i++) {
      var t = a['time'][i];
      var d = a['distance'][i];
      var pt = a['predicted_time'][i];
      var total_distance = a['distance'][a['distance'].length - 1];

      (function(time, ptime, dist){
        console.log('asdf')
        console.log(time)
        setTimeout(function() { 
            var icons = line.get('icons');
            icons[0].offset = dist*100.0/total_distance + '%';
            line.set('icons', icons);
          }, time*3);
        setTimeout(function() {
            var icons = line.get('icons');
            icons[1].offset = dist*100.0/total_distance + '%';
            line.set('icons', icons);
          }, ptime*3);
     }(t, pt, d));
  }
}

function getActivity(aid, activityElement) {
        console.log(aid)
        $.post('/change', {
            id: aid
        }).done(function(response) {
            activity = response
            console.log(response['name'])
            $(document.getElementById('activity_desc')).text(response['name']);
            $(document.getElementById('activity_date')).text(response['date']);
            $(document.getElementById('activity_moving_time')).text(response['moving_time']);
            $(document.getElementById('activity_pred_time')).text(response['predicted_total_time']);
            setMap(response)
            drawChart(response)
        }).fail(function() {
            console.log('fail');
        });
    }


      google.maps.event.addDomListener(window, 'load', initialize);

    
    </script>
    <div class="row">
    <div class='span6 main' style="margin-left: 52px">
      <button id="loop" onclick="simRide(activity)">Play Ride</button>
      
        <table>
          <thead>
            <th colspan="2">
              Ride Summary
            </th>
          </thead>
          <tr>
            <td>
              Ride:
            </td>
            <td>
              <span id="activity_desc"></span>
            </td>
          </tr>
          <tr>
            <td>
              Date:
            </td>
            <td>
              <span id="activity_date"></span>
            </td>
          </tr>
          <tr>
            <td>
              Total Time:
            </td>
            <td>
              <span id="activity_moving_time"></span>
            </td>
          </tr>
          <tr>
            <td>
              Predicted Time:
            </td>
            <td>
              <span id="activity_pred_time"></span>
            </td>
          </tr>
        </table>
      <div id="map-canvas" style="width:500px;height:380px;"></div>
      <div id="curve_chart" style="width: 500px; height: 380px"></div>
    </div>

      <div class='span6 main'>
      <table align="right">
        <thead>
          <th>Ride Name</th>
          <th>Date</th>
          <th>Distance</th>
        </thead>
      {% for a in activities %}
      <tr>
        <td><a href="javascript:getActivity({{a.id}}, '#activity{{ activity.id }}');">{{a.name}}</a></td>
        <td>{{a.dt.strftime("%B %d, %Y")}}</td>
        <td>{{(a.total_distance / 1609.34)|round(0, 'floor')}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          sortable: true,
          condensed: true,
          clean: true
        });
      });
    </script>
  <!-- </body> -->


{% endblock %}