{% extends "rides_header.html" %}
{% set active_page = "compare" %}
{% block content %}

    <style>
      #map-canvas {text-align: center;}
    </style>
    <link href="/static/css/rides.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>

<script>
var line;
colors = ['#8A2BE2', '#DC143C', '#006400', '#00FFFF'];
function initialize() {
  getActivity('{{activities[-1].id}}', '{{athlete.userid}}', '#activity{{activities[-1].id }}');
}

function setMap(activities) {

  var mapOptions = {
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var coords = [];
  
  // set the map with the first activity
  a = activities[0]
  for (var i = 0; i < a.latitude.length; i++) {
    coords.push(new google.maps.LatLng(a.latitude[i], a.longitude[i]));
  }

  var lineSymbols = [];
  var mapIcons = []
  for (var i = 0; i < activities.length; i++) {
    var lineSymbol = {
      path: google.maps.SymbolPath.CIRCLE,
      scale: 8,
      strokeColor: colors[i]
    };
    mapIcon = {icon: lineSymbol, offset: '0%'};
    mapIcons.push(mapIcon) 
  }
  
  line = new google.maps.Polyline({
    path: coords,
    strokeColor: '#1da1cc',
    icons: mapIcons,
    map: map
  });

  var sw = new google.maps.LatLng(a.center[0][0], a.center[0][1])
  var ne = new google.maps.LatLng(a.center[1][0], a.center[1][1])
  var bounds = new google.maps.LatLngBounds(sw, ne)
  map.fitBounds(bounds);
}

google.load('visualization', '1.0', {'packages':['corechart']});

function zip(arrays) {
    return arrays[0].map(function(_,i){
        return arrays.map(function(array){return array[i]})
    });
}
function addCrosshair(x, color) {
    chart.xAxis[0].addPlotLine({
        id: 'xPlotLine'+x,
        value: x,
      width: 2,
      color: color
    });
}

function removeCrosshair(x) {
    chart.xAxis[0].removePlotLine('xPlotLine'+x);
    // chart.yAxis[0].removePlotLine('yPlotLine'+y);
}

function lineChart(activities) {
  var ymin = Math.min.apply(null, activities[0].plot_altitude)
  var ymax = Math.max.apply(null, activities[0].plot_altitude)
  var xmin = Math.min.apply(null, activities[0].plot_distance)
  var xmax = Math.max.apply(null, activities[0].plot_distance)
  var series = [
    {     
      type: 'area',
      id: 'altitude',
      name: 'Altitude',
      yAxis: 0,
      fillOpacity: 0.5,
      data: zip([activities[0].plot_distance, activities[0].plot_altitude]),
      lineWidth: 2
    }]
  finishTimes = [];
  flagData = [];
  for (var i = 1; i < activities.length; i++) {
    // debugger;
    console.log(activities[0])
    console.log(activities[0].plot_distance[Math.min(activities[i].plot_distance.length - 1, activities[0].plot_distance.length - 1)])
    finishIndex = Math.min(activities[i].plot_distance.length - 1, activities[0].plot_distance.length - 1)
    if (finishIndex !== activities[0].plot_distance.length - 1){
      flagData.push({x: activities[0].plot_distance[finishIndex], text: activities[i].display_name + ' finished at ' + moment.utc(Math.abs(activities[i].plot_time[finishIndex])*1000).format("H:mm:ss"), title: activities[i].athlete.firstname})
    }
    
    series.push({
      type: 'spline',
      name: activities[i].display_name,
      yAxis: 1,
      data: zip([activities[0].plot_distance, activities[i].time_diff]),
      lineWidth: 2,
      color: colors[i],
      allowPointSelect: true
    })
    // finishTimes.push({x: activities[0].plot_distance[finishIndex], y: activities[0].plot_altitude[finishIndex], marker: {fillColor: colors[i], symbol: 'triangle'}});
  }
  flagSeries = {
    type: 'flags',
    name: 'flags',
    data: flagData,
    yAxis: 0,
    shape: 'squarepin',
    showInLegend: false
  }
  series.push(flagSeries)
  // series.push({data: finishTimes, lineWidth:0, showInLegend: false})

        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                spacingTop: 5,
                spacingLeft: 0,
                spacingRight: 0,
                spacingBottom: 0
            },
            tooltip: {
                formatter: function() {
                  if (this.point){
                    return this.point.text;
                  }
                    var s = ['<b>Distance</b>: '+ Highcharts.numberFormat(this.x, 2, ".", ",") + ' mi'];
                    // console.log(this)
                    s.push('<b>Time</b>: '+ moment.utc(Math.abs(activities[0].plot_time[this.points[0].point.index])*1000).format("H:mm:ss"))

                    $.each(this.points, function(i, point) {
                      if (point.series.name === 'Altitude'){
                        text = '<b>'+ point.series.name +':</b> '+
                            Highcharts.numberFormat(point.y, 0, ".", ",") +' ft';
                      }
                      else {
                        if (typeof this.point.custom !== 'undefined'){
                          text = point.series.name + ' finished at ' + moment.utc(Math.abs(this.point.custom)*1000).format("H:mm:ss");
                        }
                        else if (this.y < 0) {
                          text = '<b>'+ point.series.name +':</b><p style="color:red"> -'+ moment.utc(Math.abs(this.y)*1000).format("H:mm:ss") + '</p>';
                        }

                        else {
                          text = '<b>'+ point.series.name +':</b><p style="color:green"> +'+ moment.utc(this.y*1000).format("H:mm:ss") + '</p>';
                        }
                        
                      }
                        s.push(text);
                    });

                    return s.join('<br>');
                },
                shared: true,
                crosshairs: true,
            },
            xAxis: {
              min: xmin,
              max: xmax,
              labels: {
                  formatter: function(){
                    return this.value + ' mi'
                  }
                },
                ordinal: false
            },
            yAxis: [{
                title: {
                    text: ''
                },
                min: ymin,
                max: ymax,
                labels: {
                  formatter: function(){
                    return Highcharts.numberFormat(this.value, 0, ".", ",") + ' ft'
                  }
                }
            },
            {
                title: {
                    text: 'Time (s)'
                },
                labels: {
                  formatter: function(){
                    if (this.value < 0) {
                      text = '-' + moment.utc(Math.abs(this.value)*1000).format("H:mm:ss");
                    }
                    else {
                      text = moment.utc(this.value*1000).format("H:mm:ss");
                    }
                    return text;
                  }
                },
                opposite: true
            }],
            title: {
                text: ''
            },
            series: series
        });
};

simActive = false;
function simRide(activities) {
  if (simActive) {
    return;
  }
    var count = 0;
    spacing = 20;
    timeStep = 100;
    idx = 0;
    var maxOffset = 0;
    var maxIndex = 0;
    simInterval = window.setInterval(function() {
      simActive = true;
      var icons = line.get('icons');
      var isDone = 0;
      
      for (var i = 0; i < activities.length; i++) {
        var a = activities[i];
        idx = Math.min(count, a.plot_distance.length - 1); 
        offset = a.plot_distance[idx]*100.0/a.total_distance;
        icons[i].offset = offset + '%';

        // track who is in the lead
        if (offset > maxOffset && isDone === 0) {
          maxOffset = offset;
          maxIndex = i;
        }

        if (count != 0){
          if (idx % spacing != 0) {
            removeCrosshair(a.plot_distance[idx - idx % spacing])
          }
          else {
            removeCrosshair(a.plot_distance[idx - spacing])
          }
        }

        addCrosshair(a.plot_distance[idx], colors[i])
        
        if (count > a.plot_distance.length - 1){
          removeCrosshair(a.plot_distance[idx])
          isDone++;
        }
      }
      line.set('icons', icons);
      if (activities.length === 2 && activities[0].type != 'route'){
        // if only self and predicted are viewed, show their streaming prediction
        var stream_predict = activities[0].streaming_predict[Math.min(count, activities[0].streaming_predict.length - 1)];
        if (stream_predict < activities[1].moving_time) {
          stream_predict = moment.utc(stream_predict*1000).format("H:mm:ss")
          stream_color = 'green'
        }
        else {
          stream_predict = moment.utc(stream_predict*1000).format("H:mm:ss")
          stream_color = 'red'
        }
        document.getElementById('stream-predict').innerHTML = stream_predict;
        document.getElementById('stream-predict').style.color = stream_color;
      }
      else if (isDone === 0) {
        // do not update this after the first rider finishes
        document.getElementById('stream-predict').innerHTML = activities[maxIndex].display_name;
        document.getElementById('stream-predict').style.color = colors[maxIndex];
      }

      document.getElementById('timer').innerHTML = moment.utc(activities[0].plot_time[Math.min(count, activities[0].plot_time.length - 1)]*1000).format("H:mm:ss");
      document.getElementById('timer').style.color = 'black';
      document.getElementById('distance-diff').innerHTML = activities[0].plot_distance[Math.min(count, activities[0].plot_distance.length - 1)].toFixed(1);
      document.getElementById('distance-diff').style.color = 'black';
      
      count = count + spacing;
      if (isDone == activities.length){
        clearInterval(simInterval);
        simActive = false;
      }
    }, timeStep);
  }


function getActivity(aid, uid, activityElement) {
  $.post('/change', {
        activity_id: aid,
        athlete_id: uid
    }).done(function(response){
      switchActivity(response)
    }).fail(function() {
        console.log('fail');
    });
}

function deleteRider(athlete_id) {
  // var row = document.getElementById('dashboard-' + athlete_id);
  // row.parentNode.removeChild(row);
  var idx = -1;
  for (var i = 0; i < activities.length; i++) {
    console.log('some', activities[i].athlete.id, athlete_id)
    if (activities[i].athlete.id === athlete_id) {
      console.log('something', activities[i].athlete.id, athlete_id)
      idx = i;
      break;
    }
  }
  if (idx != -1) {
    activities.splice(idx, 1);
    updateRiders();
    lineChart(activities);
    setMap(activities);
  }
}

function updateRiders() {
  tbody = document.getElementById('current-riders').getElementsByTagName('tbody')[0]
  tbody.innerHTML = ''
  for (var i = 0; i < activities.length; i++) {
    var displayName = activities[i].athlete.firstname
    if ((i === 0) && (activities[i].type === 'activity')){displayName += ' (actual)'};
    if ((i === 1) && (activities[i].type === 'activity')){displayName += ' (predicted)'};
    activities[i].display_name = displayName;
    var timeDiff = activities[i].moving_time - activities[0].moving_time;
    var movingTimeString = moment.utc(Math.abs(activities[i].moving_time)*1000).format("H:mm:ss")
    console.log(activities[i].moving_time, activities[0].moving_time)
    if (i === 0){
      timeDiffString = '<p>-</p>'
    }
    else if (timeDiff < 0){
      timeDiffString = '<p style="color: green;">+' + moment.utc(Math.abs(timeDiff)*1000).format("H:mm:ss") + '</p>';
    }
    else {
      timeDiffString = '<p style="color: red;">-' + moment.utc(Math.abs(timeDiff)*1000).format("H:mm:ss") + '</p>';
    }
    linkText = '';
    if (i > 1) {
      linkText = '<a onclick=deleteRider(' + activities[i].athlete.id + ') style="font-size:x-small;float:right">remove</a>';
    }
    tbody.innerHTML += '<tr id="dashboard-' + activities[i].athlete.id + '" height="8"><td style="vertical-align: middle;"><svg height="15" width="15" style="bottom: 0;"><circle cx="7" cy="7" r="7" fill="' + colors[i] + '" /></svg> <a href="' + activities[i].athlete.id + '">' + displayName + '</a></td><td style="vertical-align: middle;">' + movingTimeString + '</td><td style="vertical-align: middle;"><span style="display:inline-block;float:left;">' + timeDiffString + '</span><span>' + linkText + '</span></td></tr>';
  }
  if (activities.length > 2 || activities[0].type === 'route') {
    var cell = document.getElementById('table-dashboard').rows[0].cells[2]
    cell.innerHTML = '<td class="dashboard-cell">IN THE LEAD<br><span id="stream-predict" style="font-size:x-large"></span><br></td>'
  }
  else {
    var cell = document.getElementById('table-dashboard').rows[0].cells[2]
    cell.innerHTML = '<td class="dashboard-cell">PREDICTION<br><span id="stream-predict" style="font-size:x-large"></span><br>HOURS</td>'
  }
}

function addRider(activity_id, athlete_id) {
  console.log(activities[0])
  $.post('/add_rider', {
        activity_id: activity_id,
        athlete_id: athlete_id,
        time_spacing: activities[0].plot_time[1],
        the_rider_distance: JSON.stringify(activities[0].plot_distance)
    }).done(function(response){
      if (response === ''){
        alert('This user has not set up their profile.')
      }
      else {
        activities.push(response)
      }
      updateRiders()
      setMap(activities)
      lineChart(activities)
    }).fail(function() {
        console.log('fail');
    });
}

function deleteRoute(rid, uid, routeElement) {
  $.post('/delete/route', {
        route_id: rid,
        athlete_id: uid
    }).done(function(response){
      var row = document.getElementById('route' + rid.toFixed());
      row.parentNode.removeChild(row);
    }).fail(function() {
        console.log('fail');
    });
}

function switchActivity(activity) {
  actual = activity.actual;
  predicted = activity.predicted;
  $(document.getElementById('activity_pred_time')).text(predicted['moving_time_string']);
  if (predicted.type != 'route') {
    var rating = actual['ride_rating'][0];
    var rating_color;
    if (rating < 2) {
      rating_color = 'red';
    }
    else if (rating > 3) {
      rating_color = 'green';
    }
    else {
      rating_color = 'yellow';
    }
    document.getElementById('activity_rating').innerHTML = 'Rating: ' + actual['ride_rating'][1] + ', ' + actual['ride_rating'][0];
    document.getElementById('activity_rating').style.backgroundColor = rating_color;
    document.getElementById('activity_rating').style.color = 'white';
    $(document.getElementById('activity_desc')).text(actual['name']);
    $(document.getElementById('activity_date')).text(' on ' + actual['date']);
    $(document.getElementById('activity_start')).text('At ' + actual['start_time']);
    document.getElementById('activity_summary').innerHTML = (actual['total_elevation_gain'] * 3.28084).toFixed(0).toLocaleString() + ' ft, ' + actual['total_distance'].toFixed(1) + ' mi'
    $(document.getElementById('activity_moving_time')).text(actual['moving_time_string']);
    activities = [actual, predicted];
    updateRiders();
    lineChart(activities);
    setMap(activities);
  }
  else {
    $(document.getElementById('activity_rating')).text(predicted['ride_rating'][1]);
    $(document.getElementById('activity_desc')).text(predicted['name']);
    $(document.getElementById('activity_date')).text(' on ' + predicted['date']);
    $(document.getElementById('activity_start')).text('At ' + predicted['start_time']);
    $(document.getElementById('activity_moving_time')).text(actual['moving_time_string']);
    document.getElementById('activity_summary').innerHTML = (predicted['total_elevation_gain'] * 3.28084).toFixed(2) + ' ft, ' + predicted['total_distance'].toFixed(2) + ' mi'
    activities = [predicted];
    updateRiders()
    lineChart(activities)
    setMap(activities);
  }
  
  if (typeof simInterval !== 'undefined') {
    clearInterval(simInterval)
    simActive = false;
  }
}

function uploadRoute(){
  console.log('asdfdasf')
  document.getElementById('route-upload').innerHTML = '<form enctype="multipart/form-data" action="/upload" method="POST" id="upload-form">' + 
      '<input type="hidden" value="{{athlete.userid}}" name="athlete_id">' + 
      '<p>Ride description: '+
      '<input type="text" name="ride_title" size="3"></p>'+
      '<input name="file" type="file" accept=".gpx"/><br>'+
      '<input type="submit" value="Upload">'+
      '</form>';
  document.getElementById("route-upload").style.visibility = "visible";
}




      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <div class="row">
    <div class='span8 main' style="margin-left: 52px;">

      <table id="table-athletes" class="table table-bordered table-striped">
        <tr>
          <td style="padding:0px;" width="45%" height="400px">
            <div class="map" id="map-canvas" style="width:100%; height:100%"></div>
          </td>
          <td id="dashboard" width="55%">
            <div id="dashboard-header" style="background-color:#CACACD">
              <div>
              <span id="name"><img src="/static/img/logo_small.png" style="padding:5px; width:auto; height:20px;">{{athlete.name}}
                <select id="myList" style="float: right; width: 33%">
                  <option value="default" disabled="disabled" selected="selected">Add an athlete</option>
                  {% for athlete in athletes %}
                  <option value="{{athlete[0]}}">{{athlete[1] + ' ' + athlete[2]}}</option>
                  {% endfor %}
                </select></div>
                <div style="background-color:#CACACD; display:inline; overflow:hidden;">
                <div style="margin-left:5px;float:left;background-color:#CACACD;width:300px;">
                <strong id="activity_desc" style="font-size: small">{{activity.name}}</strong>
                <br>
                <strong id="activity_start" style="font-size: small;background-color:#CACACD">At {{activity.dt.strftime("%I:%M:%S %p")}}</strong>
                <strong id="activity_date" style="font-size: small"> on {{activity.dt.strftime("%A %B %d, %Y")}}</strong>
                <br>
                <span>
                  <strong id="activity_summary" style="font-size: small;">{{ '{0:,}'.format((activity.total_climb * 3.28084) | int) }} ft, {{activity.total_distance}} mi</strong>
                  <strong id="activity_rating" style="font-size: small;padding: 3px;">
                  </strong>
                </span>
              </div>
              <div style="margin-left:300px;background-color:#CACACD;">
                <button id="play-ride" onclick="simRide(activities)">Play Ride</button>
              </div>
            <div style="clear:both;"></div></div>
          </div>
              </span>
              <table id="current-riders" style="width: 100%">
                <thead>
                <tr style="background-color: #A8A8A8">
                  <th style="width: 40%" colspan="1">Athletes</th>
                  <th>Time</th>
                  <th>Diff</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
              </table>

                <table id="table-dashboard" cellpadding="0" cellspacing="0" style=>
                  <tr>
                  <td class="dashboard-cell">TIME<br><span id="timer" style="font-size:x-large"></span><br>HOURS</td>
                  <td class="dashboard-cell">DISTANCE<br><span id="distance-diff" style="font-size:x-large"></span><br>MILES</td>
                  <td class="dashboard-cell">PREDICTION<br><span id="stream-predict" style="font-size:x-large"></span><br>HOURS</td>
                </tr>
              </table>
              <!-- <p>Time: <span id="timer"></span></p>
              <p>Distance Diff: <span id="distance-diff"></span></p>
              <p>New Predic ted Time: <span id="stream-predict"></span></p> -->
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div id="gauges"></div>
            <div id="container" style="min-width: 310px; height: 250px; max-width: 800px; margin: 0 auto"></div>
          </td>
        </tr>
      </table>
      
      <br>
      
    </div>
      <div class='span7 main'>
        <div id="dialog-form" title="Upload new route">
          <p class="validateTips">All form fields are required.</p>
         
          <form enctype="multipart/form-data" action="/upload" method="POST" id="upload-form">
            <fieldset>
              <label for="description">Ride description</label>
              <input type="hidden" value="{{athlete.userid}}" name="athlete_id" id="upload-athlete">
              <input type="text" name="ride_title" id="route-description" value="New Route" class="text ui-widget-content ui-corner-all">
              <input name="file" id="gpx-file" type="file" accept=".gpx"/>
         
              <!-- Allow form submission with keyboard without duplicating the dialog button -->
              <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
              <div id="upload-status"></div>
            </fieldset>
          </form>
        </div>

      <div><h4 style="float: left;">Your routes</h4>
      <div style="float: right;" id="route-upload"><p><a onclick="formShow()" class='button'>Upload a Route</a></p></div></div>
      <table align="right" id="routes">
        <thead>
          <th>Ride Name</th>
          <th>Date</th>
          <th>Distance</th>
          <th>Climb</th>
        </thead>
      {% if routes|length == 0 %}
        <tr><td colspan="5">No routes to display</td></tr>
      {% else %}
        {% for r in routes %}
        <tr id="route{{r.id}}">
          <td><a href="javascript:getActivity({{r.id}}, {{athlete.userid}}, '#activity{{ r.id }}');">{{r.name}}</a> <a href="javascript:deleteRoute({{r.id}}, {{athlete.userid}}, '#activity{{ r.id }}');">(delete)</a></td>
          <td>{{r.dt.strftime("%B %d, %Y")}}</td>
          <td>{{'{0:,}'.format((r.total_distance / 1609.34))| int}} mi</td>
          <td>{{'{0:,}'.format((r.total_climb * 3.28084) | int)}} ft</td>
        </tr>
        {% endfor %}
      {% endif %}
      </table>
      <hr width="100%">

      <h4>Your completed activities</h4>
      
      <div>
      <table align="right" id="activities">
        <thead>
          <th>Ride Name</th>
          <th>Date</th>
          <th>Distance</th>
          <th>Climb</th>
        </thead>
      {% for a in activities %}
      <tr>
        <td><a href="javascript:getActivity({{a.id}}, {{athlete.userid}}, '#activity{{ a.id }}');">{{a.name}}</a></td>
        <td>{{a.dt.strftime("%B %d, %Y")}}</td>
        <td>{{'{0:,}'.format((a.total_distance / 1609.34))| int}} mi</td>
        <td>{{'{0:,}'.format((a.total_climb * 3.28084) | int)}} ft</td>
      </tr>
      {% endfor %}
    </table>
    <div id="pager" class="pager">
        <form>
          <img src="/static/img/first.png" class="first"/>
          <img src="/static/img/prev.png" class="prev"/>
          <input type="text" class="pagedisplay"/>
          <img src="/static/img/next.png" class="next"/>
          <img src="/static/img/last.png" class="last"/>
          <select class="pagesize">
            <option value="10"  selected="selected">10 per page</option>
            <option value="20">20 per page</option>
            <option value="40">40 per page</option>
          </select>
        </form>
      </div>
  </div>
    
  </div>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>

    <script type="text/javascript" charset="utf-8">
    document.getElementById("myList").onchange = function() {
      
      if (activities.length >= 5){
        alert("Maximum athletes allowed is 5")
        document.getElementById("myList").selectedIndex = 0;
        return;
      }
      isDuplicate = false;
      for (var i = 0; i < activities.length; i++) {
        if (this.value === activities[i].athlete.id.toFixed(0)) {
          isDuplicate = true;
          break;
        }
      }
      if (!isDuplicate) {
        addRider(activities[0].id, this.value);
      }
      else {alert("This rider is already added.")}
      document.getElementById("myList").selectedIndex = 0;

    };

    function formShow() {
      console.log('formshow')
      document.getElementById('dialog-form').style.display = 'block'
    }

    $(function() {
      var dialog, form;
      // var f = $('#gpx-file');
      // var description = $("#route-description");
      // var aid = $('#upload-athlete')
      // var form_data = new FormData($('#upload-form'))
      function addRoute() {
        document.getElementById('upload-status').innerHTML = 'Upload in progress....'
        document.getElementById('upload-form').submit();
      }
      dialog = $("#dialog-form").dialog({
        autoOpen: false,
        height: 300,
        width: 350,
        modal: true,
        buttons: {
          "Create Route": addRoute,
          Cancel: function() {
            dialog.dialog("close");
          }
        },
        close: function() {
          form[0].reset();
        }
      });
      form = dialog.find( "form" ).on( "submit", function( event ) {
        event.preventDefault();
        // addUser();
      });

      $( "#route-upload" ).button().on( "click", function() {
        dialog.dialog( "open" );
      });
    });

      $(document).ready(function() {
        $("#routes").tablecloth({
          theme: "stats",
          bordered: true,
          condensed: true,
          striped: true,
          sortable: true,
          clean: true,
          cleanElements: "th td",
          customClass: "my-table"
        });
        $("#current-riders").tablecloth({
          theme: "stats",
          bordered: true,
          condensed: true,
          striped: true,
          sortable: false,
          clean: true,
          cleanElements: "th td",
          customClass: "my-table"
        });
        $("#activities").tablecloth({
          theme: "stats",
          bordered: true,
          condensed: true,
          striped: true,
          sortable: true,
          clean: true,
          cleanElements: "th td",
          customClass: "my-table"
        });
        $("#activities")
        .tablesorter({
          widthFixed: true})
        .tablesorterPager({container: $("#pager")}); 
      //   $("table").tablecloth({
      //     theme: "stats",
      //     striped: true,
      //     sortable: true,
      //     condensed: true,
      //     clean: true
      //   });
      // });
      // $(document).ready(function() {
      //     $('#routes').DataTable( {
      //         bFilter: false,
      //         bLengthChange: false,

      //     } );
      //     $('#activities').DataTable( {
      //         bFilter: false,
      //         bLengthChange: false
      //     } );
      });
    </script>
  <!-- </body> -->


{% endblock %}