{% extends "base.html" %}
{% block content %}

    <style>
      #map-canvas {text-align: center;}
    </style>
    <link href="/static/css/rides.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>

<script>
var line;

function initialize() {
  getActivity('{{activities[0].id}}', '{{athlete.userid}}', '#activity{{activities[0].id }}');
}

function setMap(a) {

  var mapOptions = {
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var coords = [];

  for (var i = 0; i < a.latitude.length; i++) {
    coords.push(new google.maps.LatLng(a.latitude[i], a.longitude[i]));
  }

  var lineSymbol = {
    path: google.maps.SymbolPath.CIRCLE,
    scale: 8,
    strokeColor: '#000'
  };

  var lineSymbolA = {
    path: google.maps.SymbolPath.CIRCLE,
    scale: 8,
    strokeColor: '#393'
  };

var mapIcons;
if (a['type'] != 'route'){
  mapIcons = [{
    icon: lineSymbol,
    offset: '100%'
  },
  {
      icon: lineSymbolA,
      offset: '100%'
    }]
  }
else {mapIcons = mapIcons = [{
    icon: lineSymbol,
    offset: '100%'
  }]
}
  line = new google.maps.Polyline({
    path: coords,
    strokeColor: '#1da1cc',
    icons: mapIcons,
    map: map
  });

  var sw = new google.maps.LatLng(a['center'][0][0], a['center'][0][1])
  var ne = new google.maps.LatLng(a['center'][1][0], a['center'][1][1])
  var bounds = new google.maps.LatLngBounds(sw, ne)
  map.fitBounds(bounds);

}

google.load('visualization', '1.0', {'packages':['corechart']});

function zip(arrays) {
    return arrays[0].map(function(_,i){
        return arrays.map(function(array){return array[i]})
    });
}
function addCrosshair(x, y, color) {
    chart.xAxis[0].addPlotLine({
        id: 'xPlotLine'+x,
        value: x,
      width: 2,
      color: color
    });
    
    // chart.yAxis[0].addPlotLine({
    //     id: 'yPlotLine'+y,
    //     value: y,
    //   width: 2,
    //   color: color
    // });
}

function removeCrosshair(x,y) {
    chart.xAxis[0].removePlotLine('xPlotLine'+x);
    chart.yAxis[0].removePlotLine('yPlotLine'+y);
}
function lineChart(a) {
    data = zip([a.plot_distance, a.plot_altitude]);
    data1 = zip([a.plot_distance, a.streaming_predict]);
    console.log(data)
    var ymin = Math.min.apply(null, a.plot_altitude)
    var ymax = Math.max.apply(null, a.plot_altitude)
    var xmin = Math.min.apply(null, a.plot_distance)
    var xmax = Math.max.apply(null, a.plot_distance)
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container'
            },
            xAxis: {
              min: xmin,
              max: xmax,
                title: {
                    enabled: true,
                    text: 'Distance (mi)'
                },
                ordinal: false
            },
            yAxis: [{
                min: ymin,
                max: ymax,
                title: {
                    text: 'Altitude (ft)'
                }
            },
            {
                title: {
                    text: 'Time (s)'
                }
            }],
            title: {
                text: 'Ride profile'
            },
            plotOptions: {
                    series: {
                        compare: 'percent'
                    }
                },
            series: [
            {
              type: 'area',
              name: 'Altitude',
              yAxis: 0,
              fillOpacity: 0.5,
              data: data,
              lineWidth: 2
            },
            {
              type: 'spline',
              name: 'Predicted Time',
              yAxis: 1,
              data: data1,
              lineWidth: 2
            },
            {
              type: 'line',
              name: 'Actual Time',
              yAxis: 1,
              data: [[-100, a.plot_time[a.plot_time.length - 1]], [600, a.plot_time[a.plot_time.length - 1]]]
            }
            ]
        });
};

function simRide(a) {
    document.getElementById("ride-console").style.visibility = "visible";
    var count = 0;
    d = a['plot_distance'];
    pd = a['plot_predicted_distance'];
    var duration = moment.duration(0, 'seconds');

    simInterval = window.setInterval(function() {
      var isDone = false

      var offset1 = d[count]*100.0/a.total_distance
      var offset2 = pd[count]*100.0/a.total_distance
      console.log(offset1, offset2)
      if (a['type'] != 'route'){
        if ((offset1 > 99.8) & (offset2 > 99.8)) {
          isDone = true;
        }
      }
      else {
        if (offset1 > 99.5){
          isDone = true;
        }
      }
      // console.log(offset1, offset2)
      if (isDone) {
        console.log('cleared')
        clearInterval(simInterval)
      }
      else {

        var icons = line.get('icons');
        
        icons[0].offset = offset1 + '%';
        
        line.set('icons', icons);
        duration = moment.duration(a.plot_time[count]*1000, 'seconds');
        var p1 = chart.series[0].points[count];
        // var p2 = chart.series[1].points[count];
        addCrosshair(p1.x, p1.y, '#000')
        if (a['type'] != 'route'){
          icons[1].offset = offset2 + '%';
          addCrosshair(a.plot_predicted_distance[count], a.plot_predicted_altitude[count], '#390')
        }
        
        chart.tooltip.refresh(p1);
        // chart.tooltip.refresh(p2);
        if (count != 0){
          var previous1 = chart.series[0].points[count - 10];
          // var previous2 = chart.series[1].points[count - 10];
          removeCrosshair(previous1.x, previous1.y)
          if (a['type'] != 'route'){
            removeCrosshair(a.plot_predicted_distance[count -10], a.plot_predicted_altitude[count-10])
          }
        }
        // debugger;
        
        // chart.series[1].setData([[a.plot_distance[count], 0], [a.plot_distance[count], 10000]]);
        // chart.series[2].setData([[a.plot_predicted_distance[count], 0], [a.plot_predicted_distance[count], 10000]]);

        document.getElementById('playback-timer').innerHTML = moment.utc(a.plot_time[count]*1000).format("HH:mm")
        document.getElementById('playback-margin').innerHTML = (d[count] - pd[count]).toFixed(2);
        document.getElementById('playback-distance').innerHTML = d[count].toFixed(2);
      }
      count = count + 10;
  }, 50);
}

function getActivity(aid, uid, activityElement) {
  $.post('/change', {
        activity_id: aid,
        athlete_id: uid
    }).done(function(response){
      switchActivity(response)
    }).fail(function() {
        console.log('fail');
    });
}

function deleteRoute(rid, uid, routeElement) {
  $.post('/delete/route', {
        route_id: rid,
        athlete_id: uid
    }).done(function(response){
      var row = document.getElementById('route' + rid.toFixed());
      row.parentNode.removeChild(row);
    }).fail(function() {
        console.log('fail');
    });
}

function switchActivity(a) {
  activity = a
  $(document.getElementById('activity_desc')).text(a['name']);
  $(document.getElementById('activity_date')).text(a['date']);
  $(document.getElementById('activity_rating')).text(a['ride_rating'][1]);
  $(document.getElementById('activity_start')).text(a['start_time']);
  $(document.getElementById('activity_moving_time')).text(a['moving_time']);
  $(document.getElementById('activity_pred_time')).text(a['predicted_total_time']);
  if (typeof simInterval !== 'undefined') {
    clearInterval(simInterval)
  }
  if (typeof chartInterval !== 'undefined') {
    clearInterval(chartInterval)
  }
  setMap(a)
  lineChart(a)
}

function uploadRoute(){
  console.log('asdfdasf')
  document.getElementById('route-upload').innerHTML = '<form enctype="multipart/form-data" action="/upload" method="POST" id="upload-form">' + 
      '<input type="hidden" value="{{athlete.userid}}" name="athlete_id">' + 
      '<p>Ride description: '+
      '<input type="text" name="ride_title" size="3"></p>'+
      '<input name="file" type="file" accept=".gpx"/><br />'+
      '<input type="submit" value="Upload">'+
      '</form>';
  document.getElementById("route-upload").style.visibility = "visible";
}

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <style type="text/css">
      .map { margin: 0 auto 0 auto; }
      .wrapper {text-align: center;
                padding: 5px 5px 5px 5px;
               }
    </style>
    <div class="row">
    <div class='span6 main' style="margin-left: 52px;">

      <table>
        <thead><th colspan="2">Ride Summary</th></thead>
        <tr><td>Rider:</td><td>{{athlete.name}}</td></tr>
        <tr><td>Ride:</td><td><span id="activity_desc">{{activity.name}}</span></td></tr>
        <tr><td>Date:</td><td><span id="activity_date">{{activity.dt.strftime("%A %B %d, %Y")}}</span></td></tr>
        <tr><td>Start Time:</td><td><span id="activity_start">{{activity.dt.strftime("%H:%M:%S %p")}}</span></td></tr>
        <tr><td>Total Time:</td><td><span id="activity_moving_time">{{activity.moving_time_string}}</span></td></tr>
        <tr><td>Predicted Time:</td><td><span id="activity_pred_time">{{activity.predicted_moving_time}}</span></td></tr>
        <tr><td>Ride Rating:</td><td><span id="activity_rating"></span></td></tr>
      </table>
      <div class="wrapper">
          <button id="play" onclick="simRide(activity)">Play Ride</button>
      </div>
      
      <div class="map" id="map-canvas" style="width:500px;height:380px;"></div>
      <div id="ride-console" style="visibility: hidden;">
        <table>
          <tr>
            <td>Time elapsed:</td> <td id="playback-timer"></td>
            <td>Distance:</td> <td id="playback-distance"></td>
            <td>Margin:</td> <td id="playback-margin"></td>
          </tr>
        </table>
      </div>
      <div id="container" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
    </div>
      <div class='span2 main'></div>
      <div class='span6 main'>

      <h4>Your routes</h4>
      <div id="route-upload"><p><a class='button' onclick="uploadRoute()">Upload a Route</a></p></div>
      <table align="right">
        <thead>
          <th>Ride Name</th>
          <th>Date</th>
          <th>Distance</th>
          <th></th>
        </thead>
      {% for r in routes %}
      <tr id="route{{r.id}}">
        <td><a href="javascript:getActivity({{r.id}}, {{athlete.userid}}, '#activity{{ r.id }}');">{{r.name}}</a></td>
        <td>{{r.dt.strftime("%B %d, %Y")}}</td>
        <td>{{(r.total_distance / 1609.34)|round(0, 'floor')}}</td>
        <td><a href="javascript:deleteRoute({{r.id}}, {{athlete.userid}}, '#activity{{ r.id }}');">delete</a></td>
      </tr>
      {% endfor %}
      </table>

      <h4>Your completed activities</h4>
      <table align="right">
        <thead>
          <th>Ride Name</th>
          <th>Date</th>
          <th>Distance</th>
        </thead>
      {% for a in activities %}
      <tr>
        <td><a href="javascript:getActivity({{a.id}}, {{athlete.userid}}, '#activity{{ a.id }}');">{{a.name}}</a></td>
        <td>{{a.dt.strftime("%B %d, %Y")}}</td>
        <td>{{(a.total_distance / 1609.34)|round(0, 'floor')}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          sortable: true,
          condensed: true,
          clean: true
        });
      });
    </script>
  <!-- </body> -->


{% endblock %}